// Margin && Padding helpers

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}


///////////////////////////// Fonts /////////////////////////////

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Comfortaa');

///////////////////////////// Global /////////////////////////////


body {
  font-family: 'Comfortaa', cursive;
  background-color: #f9f9f9;
}

//navbar
.navbar {
  background: #f9f9f9;
}

//paragraph
p {
  color: black;
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: 'Bree Serif', serif;
}

h1 {
  border-bottom: 8px solid lightcoral;
}

.index-h1 {
  width: 50%;
}

.button {
  box-shadow: 3px 3px 0px lightgrey;
}

//divider
.listing-divider {
  background-color: lightcoral;
  height: 3px;
  width: 50%;
}

//listing
.listing {
    background-color: #fff;
    display: block;
    border-radius: 3px;
    box-shadow: 3px 3px 0px #005b96;
    margin-top: 20px;
    padding: 10px;
}

//sidebar
.sidebar {
    background-color: #fff;
    height: 100%;
    display: block;
    border-radius: 3px;
    box-shadow: 3px 3px 0px lightcoral;
}

.form-bg {
  background-color: #fff;
  display: block;
  height: 75%;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 3px 3px 0px lightcoral;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

//footer
.footer {
  margin-top: 75px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #005b96;
  border-top: 5px solid lightcoral;
  height: 50px;
}

///////////////////////////// Socials /////////////////////////////

// Twitter
.twitter {
  color: #00aced;
}

// Discord
.discord {
  color: #7289da;
}

//Telegram
.telegram {
  color: #0088cc;
}


