<%- include('inc/header') %>

<div class="columns is-mobile is-centered">
    <div class="column is-half">
        <div>
            <h1 class="title is-1"> 🤦 404 Error!</h1>
            <p class="subtitle is-4 m-t-50">
                Sorry! The page you've come to doesn't exist. Please let us know <a href="/contact">here</a>.
            </p>
        </div>
    </div>
</div>
</main>
<%- include('inc/footer') %>