<%- include('inc/header') %>

<div class="columns is-mobile is-centered">
    <div class="column is-half">
        <div>
            <h1 class="title is-1">🚨 500 Error!</h1>
            <p class="subtitle is-4 m-t-50">
                Sorry! There was a server error 😩. If the problem persists please let us know<a href="/contact">here</a>.
            </p>
        </div>
    </div>
</div>
</main>
<%- include('inc/footer') %>