<%- include('inc/header')  %>

<div class="columns is-mobile is-centered">
    <div class="column is-half">
        <div>
            <h1 class="title is-1"> 💬 Join our Community!</h1>
            <p class="subtitle is-4 m-t-50">
                Where ever you are on the web, you can join us on on the links below 😃.
            </p>

            <div class="columns is-mobile m-t-30">
                <div class="notification column is-two-fifths m-r-10">
                    <p class="subtitle is-4">
                        <i class="fab fa-twitter fa-lg twitter m-r-20"></i><a href="#">Twitter</a>
                    </p>
                </div>
                
                <div class="notification column is-two-fifths m-r-10">
                    <p class="subtitle is-4">
                        <i class="fab fa-facebook fa-lg  m-r-20"></i><a href="#">Facebook</a>
                    </p>
                </div>
                <div class="column is-one-third"></div>
            </div>

            <div class="columns is-mobile">
                <div class="notification column is-two-fifths m-r-10">
                    <p class="subtitle is-4">
                        <i class="fab fa-discord fa-lg discord m-r-20"></i><a href="#">Discord</a>
                    </p>
                </div>
                
                <div class="notification column is-two-fifths m-r-10">
                    <p class="subtitle is-4">
                        <i class="fab fa-telegram fa-lg telegram m-r-20"></i><a href="#">Telegram</a>
                    </p>
                </div>
                <div class="column is-one-third"></div>
            </div>
        </div> <!-- intro-->
    </div>
</div>




<%- include('inc/footer') %>