<%- include('inc/header')  %>

<div class="columns is-mobile is-centered">
    <div class="column is-half form-bg">
        <div>
            <h1 class="title is-1"> 💬 Join our Community!</h1>
            <p class="subtitle is-4 m-t-50">
                Where ever you are on the web, you can join us on on the links below 😃.
            </p>

            <div class="columns is-mobile m-t-30">
                <div class="column is-two-fifths m-r-10">
                    <p class="subtitle is-4">
                        <i class="fab fa-twitter fa-lg twitter m-r-20"></i><a href="https://twitter.com/@nubeetech" target="_blank">Twitter</a>
                    </p>
                </div>
                
                <div class="column is-two-fifths m-r-10">
                    <p class="subtitle is-4">
                        <i class="fab fa-slack fa-lg  m-r-20 slack"></i><a href="https://join.slack.com/t/nubeetech/shared_invite/enQtNTA4Mjk0MDMwNzA5LWYyNjljZDc2ZmI3M2NlYmRkMzYwZDM1YzI2ZjRlZDRmNDBkNThjMjE0Nzc1MjY4YTM0NWI0NTUwZTY0ZjhjMzE" target="_blank">Slack</a>
                    </p>
                </div>
                <div class="column is-one-third"></div>
            </div>

            <div class="columns is-mobile">
                <div class=" column is-two-fifths m-r-10">
                    <p class="subtitle is-4">
                        <i class="fab fa-discord fa-lg discord m-r-20"></i><a href="https://discord.gg/CEVbh7w" target="_blank">Discord</a>
                    </p>
                </div>
                
                <div class="column is-two-fifths m-r-10">
                    <p class="subtitle is-4">
                        <i class="fab fa-telegram fa-lg telegram m-r-20"></i><a href="https://t.me/joinchat/FOidRhQE5qyC8vYs49FSTw" target="_blank">Telegram</a>
                    </p>
                </div>
                <div class="column is-one-third"></div>
            </div>
        </div> <!-- intro-->
    </div>
</div>
</main>
<%- include('inc/footer') %>