<%- include('inc/header') %>

    <section>
            <div class="columns is-mobile">
                <div class="column is-three-quarters p-l-75 p-r-20">
                    <div>
                        <h1 class="title is-1">Job Board Site Title</h1>
                        <p class="subtitle is-4 m-t-50">
                            👋 Our mission is to help people new to tech in to their first jobs. Our partner companies are newbie-friendly so
                            will be great in helping you candidates grow in their first role 🎉.
                        </p>
                    </div> <!-- intro-->

                    <div class="m-t-100"></div>
                    <div class="columns">
                        <div class="m-t-15 m-r-10 listing column">
                            <article class="media p-t-10 p-l-10">
                                <figure class="media-left">
                                    <p class="image is-75x75">
                                        <img src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p class="is-size-5">
                                            <strong class="is-size-4"> Company Name</strong><br>
                                            <i class="far fa-user"></i> Javascript Developer<br>
                                            <i class="fas fa-map-marker-alt m-r-10"></i>Location
                                        </p>
                                    </div>
                                    <nav class="level is-mobile is-pulled-right">
                                        <div class="level-left">
                                            <a class="level-item button is-danger"><i class="fas fa-heart m-r-5"></i>Save</a>
                                            <a class="level-item button is-success"><i class="fas fa-pen m-r-5"></i>Apply</a>
                                            <a class="level-item">
                                                <span class="icon is-small"></i></span>
                                            </a>
                                        </div>
                                    </nav>
                                </div>
                            </article>
                        </div><!-- job listing-->

                        <div class="m-t-15 m-r-10 listing column">
                            <article class="media p-t-10 p-l-10">
                                <figure class="media-left">
                                    <p class="image is-100x100">
                                        <img src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p class="is-size-5">
                                            <strong class="is-size-4">Company Name</strong><br>
                                            <i class="far fa-user"></i> Javascript Developer<br>
                                            <i class="fas fa-map-marker-alt m-r-10"></i>Location
                                        </p>
                                    </div>
                                    <nav class="level is-mobile is-pulled-right">
                                        <div class="level-left">
                                            <a class="level-item button is-danger"><i class="fas fa-heart m-r-5"></i>Save</a>
                                            <a class="level-item button is-success"><i class="fas fa-pen m-r-5"></i>Apply</a>
                                            <a class="level-item">
                                                <span class="icon is-small"></i></span>
                                            </a>
                                        </div>
                                    </nav>
                                </div>
                            </article>
                        </div><!-- job listing-->
                    </div> <!-- job listing column-->

                    <div class="columns">
                        <div class="m-t-15 m-r-10 listing column">
                            <article class="media p-t-10 p-l-10">
                                <figure class="media-left">
                                    <p class="image is-75x75">
                                        <img src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p class="is-size-5">
                                            <strong class="is-size-4"> Company Name</strong><br>
                                            <i class="far fa-user"></i> Javascript Developer<br>
                                            <i class="fas fa-map-marker-alt m-r-10"></i>Location
                                        </p>
                                    </div>
                                    <nav class="level is-mobile is-pulled-right">
                                        <div class="level-left">
                                            <a class="level-item button is-danger"><i class="fas fa-heart m-r-5"></i>Save</a>
                                            <a class="level-item button is-success"><i class="fas fa-pen m-r-5"></i>Apply</a>
                                            <a class="level-item">
                                                <span class="icon is-small"></i></span>
                                            </a>
                                        </div>
                                    </nav>
                                </div>
                            </article>
                        </div><!-- job listing-->
                    
                        <div class="m-t-15 m-r-10 listing column">
                            <article class="media p-t-10 p-l-10">
                                <figure class="media-left">
                                    <p class="image is-100x100">
                                        <img src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p class="is-size-5">
                                            <strong class="is-size-4">Company Name</strong><br>
                                            <i class="far fa-user"></i> Javascript Developer<br>
                                            <i class="fas fa-map-marker-alt m-r-10"></i>Location
                                        </p>
                                    </div>
                                    <nav class="level is-mobile is-pulled-right">
                                        <div class="level-left">
                                            <a class="level-item button is-danger"><i class="fas fa-heart m-r-5"></i>Save</a>
                                            <a class="level-item button is-success"><i class="fas fa-pen m-r-5"></i>Apply</a>
                                            <a class="level-item">
                                                <span class="icon is-small"></i></span>
                                            </a>
                                        </div>
                                    </nav>
                                </div>
                            </article>
                        </div><!-- job listing-->
                    </div> <!-- job listing column-->

                    <div class="columns">
                        <div class="m-t-15 m-r-10 listing column">
                            <article class="media p-t-10 p-l-10">
                                <figure class="media-left">
                                    <p class="image is-75x75">
                                        <img src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p class="is-size-5">
                                            <strong class="is-size-4"> Company Name</strong><br>
                                            <i class="far fa-user"></i> Javascript Developer<br>
                                            <i class="fas fa-map-marker-alt m-r-10"></i>Location
                                        </p>
                                    </div>
                                    <nav class="level is-mobile is-pulled-right">
                                        <div class="level-left">
                                            <a class="level-item button is-danger"><i class="fas fa-heart m-r-5"></i>Save</a>
                                            <a class="level-item button is-success"><i class="fas fa-pen m-r-5"></i>Apply</a>
                                            <a class="level-item">
                                                <span class="icon is-small"></i></span>
                                            </a>
                                        </div>
                                    </nav>
                                </div>
                            </article>
                        </div><!-- job listing-->
                    
                        <div class="m-t-15 m-r-10 listing column">
                            <article class="media p-t-10 p-l-10">
                                <figure class="media-left">
                                    <p class="image is-100x100">
                                        <img src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p class="is-size-5">
                                            <strong class="is-size-4">Company Name</strong><br>
                                            <i class="far fa-user"></i> Javascript Developer<br>
                                            <i class="fas fa-map-marker-alt m-r-10"></i>Location
                                        </p>
                                    </div>
                                    <nav class="level is-mobile is-pulled-right">
                                        <div class="level-left">
                                            <a class="level-item button is-danger"><i class="fas fa-heart m-r-5"></i>Save</a>
                                            <a class="level-item button is-success"><i class="fas fa-pen m-r-5"></i>Apply</a>
                                            <a class="level-item">
                                                <span class="icon is-small"></i></span>
                                            </a>
                                        </div>
                                    </nav>
                                </div>
                            </article>
                        </div><!-- job listing-->
                    </div> <!-- job listing column-->
                </div> <!-- first column-->

                <div class="column sidebar m-r-50">
                    <h4 class="title is-4 p-t-20">Post a Job</h4>
                    <p>👋 Our mission is to help people new to tech in to their first jobs. Our partner companies are newbie-friendly so will
                    be great in helping you candidates grow in their first role 🎉.</p>
                    <h4 class="title is-4 p-t-20">Post a Job</h4>
                    <p>👋 Our mission is to help people new to tech in to their first jobs. Our partner companies are newbie-friendly so
                        will
                        be great in helping you candidates grow in their first role 🎉.</p>

                    <h4 class="title is-4 p-t-20">Post a Job</h4>
                    <p>👋 Our mission is to help people new to tech in to their first jobs. Our partner companies are newbie-friendly so
                        will
                        be great in helping you candidates grow in their first role 🎉.</p>
                </div>
            </div> <!--main columns-->
    </section><!-- main body-->
<%- include('inc/footer') %>
