<%- include('inc/header')  %>

<div class="columns is-mobile is-centered">
    <div class="column is-half">
        <div>
            <h1 class="title is-1"> 🤗 Welcome Back!</h1>
            <p class="subtitle is-4 m-t-50">
                Where ever you are on the web, you can join us on on the links below 😃.
            </p>



<%- include('inc/footer') %>