<%- include('../inc/header')  %>

<div class="columns is-mobile is-centered">
    <div class="column is-mobile is-half form-bg">
        <h1 class="title is-1"> 🤗 Welcome Back!</h1>
        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left">
                <input class="input" type="email" placeholder="Please enter your registered email">
                <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>

        <div class="field m-b-20">
            <label class="label">Password</label>
            <div class="control has-icons-left">
                <input class="input" type="password" placeholder="Your password">
                <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-link">Log In</button>
            </div>
        </div>
        <div class="column is-pulled-right">
            <p><a href="#" class="has-text-grey-light">Forgotten Password</a></p>
        </div>
        <div class="column is-pulled-right">
            <p><a href="#" class="has-text-grey-light">Not Registered?</a></p>
        </div>
    </div>
</div>
</main>
<%- include('../inc/footer') %>