<%- include('../inc/header') %>

<div class="columns is-mobile is-centered">
    <div class="column is-three-fifths form-bg">

        <div class="columns">    
            <div class="column is-two-thirds">
                <h1 class="title is-1 profile-h1"> <%=user.firstName +' ' + user.lastName %></h1>
            </div>
            <div class="column">
                <a class="button is-link is-pulled-right"><i class="fas fa-edit m-r-10"></i>Edit Profile</a>
            </div>
        </div>

            <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-primary">
                        <p class="title is-size-4">🏢 Company Details</p>
                        <p class="subtitle">
                            <strong>Email Address:</strong> <%= user.email %>
                            <strong>Password:</strong> Hidden
                        </p>
                    </article>
                </div>
                
                </div>
                <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">About the Company</p>
                    <div class="content">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English...
                    </div>
                </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-success">
                <div class="content">
                    <p class="title">Profiles</p>
                    <p class=" m-b-5"><a href="#"><strong><i class="fab fa-github m-r-5"></i>Github</strong></a></p>
                    <p class=" m-b-5 m-t-10"><a href="#"><strong><i class="fab fa-stack-overflow m-r-5"></i>Stack Overflow</strong></a></p>
                    <p class=" m-b-5 m-t-10"><a href="#"><strong><i class="fab fa-youtube m-r-5"></i>Youtube</strong></a></p>
                    <p class=" m-b-5 m-t-10"><a href="#"><strong>Glassdoor</strong></a></p>
                    <p class=" m-b-5 m-t-10"><a href="#"><strong><i class="fab fa-dribbble m-r-5"></i>Dribbble</strong></a></p>
                    <p class="m-b-5 m-t-10"><a href="#"><strong><i class="fab fa-twitter m-r-5"></i>Twitter</strong></a></p>
                    <div class="content">
                    <!-- Content -->
                    </div>
                </div>
                </article>
            </div>
            </div>
        </div> <!-- end about-->
    </div>
</div>
</main>
<%- include('../inc/footer') %>